---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Stroustrup
PointerAlignment: Left
ReflowComments: true
SortIncludes: true